<a href="https://colab.research.google.com/github/Yoo-Jaehyuk/Assignment/blob/master/0417_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Assignment 1
# 1 (1)
a_list = [1, 'hello', [1,2,3], True]
print(a_list)
# 1 (2) 
print(a_list [1])
# 1 (3)
print( a_list [1], a_list [2], a_list [3])
# 1 (4)
A = [1, 'a']
B = [2, 1, 'd']
print(A+B)

[1, 'hello', [1, 2, 3], True]
hello
hello [1, 2, 3] True
[1, 'a', 2, 1, 'd']

In [12]:
# Assignment 2
soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
# 2 (1)
print(soundtrack_dic.keys())
# 2 (2)
print(soundtrack_dic.values())

dict_keys(['The Bodyguard', 'Saturday Night Fever'])
dict_values(['1992', '1977'])

In [17]:
# Assignment 3
# 3 (1)
List1 =  ['rap','house','electronic music', 'rap']
Set1 = set(List1)
print(Set1)
# 3 (2)
listA = [1, 2, 2, 1]
setB = set([1, 2, 2, 1])
if(sum(listA) == sum(setB)):
  print('same')
else:
  print('not same')
# 3 (3)
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3 = album_set1.union(album_set2)
print(album_set3)
# 3 (4)
if ( album_set1 == album_set1.intersection(album_set2)):
  print('album_set1 is a subset of album_set3')
else:
  print('album_set1 is not a subset of album_set3')

{'electronic music', 'rap', 'house'}
not same
{'Thriller', 'Back in Black', 'AC/DC', 'The Dark Side of the Moon'}
album_set1 is not a subset of album_set3

In [22]:
# Assignment 4-1
Dict ={"Artist": "Michael", "Genre": "R&B", "Sales": 10000}
if(Dict["Artist"] == "Michael"):
  print(Dict['Genre'])

R&B

In [61]:
# Assignment 4-2
# 4-2 (1)
def f(k):
  if (k >= 0):
    c = k - 273
    f = c*1.8 + 32
    print('Celcius : ', c, 'about', k)
    print('Fahrenheit : ', f, 'about', k)
  else:
    print('This temperature (', k, ') is not able to exist in physics ')

f(-300)
f(7000)

# 4-2 (2)
L = [1, 2, 3, 5, 9, 31, 28, 91]
n = 0
m = 0
for i in L :
  if ( i%2 == 0):
    n = n +1
  else:
    m=m+1
print('Even : ',n)
print('Odd : ',m)
# 4-2 (3)
t = 0
for j in L:
  h=1
  q=0
  while(h < j): 
    if( j%h != 0):
      q= q+1
    if(q == j-2):
      t = t+1
    h = h+1
print('Prime Number : ',t)

# I have not learned python at all, so I have studied those algorithms myself to do the assignment for 2 days.

This temperature ( -300 ) is not able to exist in physics
Celcius :  6727 about 7000
Fahrenheit :  12140.6 about 7000
Even :  2
Odd :  6
Prime Number :  4