<a href="https://colab.research.google.com/github/Yoo-Jaehyuk/Assignment/blob/master/0427_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

!wget -o "filename." http:///
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [6]:
# Assignment 1-1
TSA = '/content/drive/My Drive/TopSellingAlbums.csv'
read = pd.read_csv(TSA)
read

            Artist                            Album  ...  Soundtrack Rating
0  Michael Jackson                         Thriller  ...         NaN   10.0
1            AC/DC                    Back in Black  ...         NaN    9.5
2       Pink Floyd        The Dark Side of the Moon  ...         NaN    9.0
3  Whitney Houston                    The Bodyguard  ...           Y    8.5
4        Meat Loaf                  Bat Out of Hell  ...         NaN    8.0
5           Eagles  Their Greatest Hits (1971-1975)  ...         NaN    7.5
6         Bee Gees             Saturday Night Fever  ...           Y    7.0
7    Fleetwood Mac                          Rumours  ...         NaN    6.5

[8 rows x 10 columns]

In [11]:
# Assignment 1-2
print(read.iloc [1,6])
print(read.iloc [1,9])

50
9.5

In [12]:
print(type(read.iloc [1,6]))
print(type(read.iloc [1,9]))

<class 'numpy.int64'>
<class 'numpy.float64'>

In [13]:
read.iloc [1,6] + read.iloc[1,9]

59.5

In [14]:
read.loc[1:3, 'Album']

1                Back in Black
2    The Dark Side of the Moon
3                The Bodyguard
Name: Album, dtype: object

In [15]:
type(read.loc[4:6, 'Released'])

pandas.core.series.Series

In [17]:
read.loc[0:5:2, 'Artist':'Length']

            Artist                      Album  Released   Length
0  Michael Jackson                   Thriller      1982  0:42:19
2       Pink Floyd  The Dark Side of the Moon      1973  0:42:49
4        Meat Loaf            Bat Out of Hell      1977  0:46:33

In [18]:
read.loc[0:5:2, 'Artist':'Soundtrack':3]

            Artist   Length  Claimed Sales (millions)
0  Michael Jackson  0:42:19                        65
2       Pink Floyd  0:42:49                        45
4        Meat Loaf  0:46:33                        43

In [30]:
read.iloc[1:7:2, 0:8:3]

            Artist   Length  Claimed Sales (millions)
1            AC/DC  0:42:11                        50
3  Whitney Houston  0:57:44                        44
5           Eagles  0:43:08                        42

In [31]:
len(read ['Album'])

8

In [44]:
# Assignment 1-3
for i in range(8):
  if(read.loc[i,'Released'] > 1979 and read.loc[i,'Music Recording Sales (millions)'] > 24):
    print(' ')
    for j in range(8):
      print(read.iloc[i,j])

Michael Jackson
Thriller
1982
0:42:19
pop, rock, R&B
46.0
65
30-Nov-82

AC/DC
Back in Black
1980
0:42:11
hard rock
26.1
50
25-Jul-80

Whitney Houston
The Bodyguard
1992
0:57:44
R&B, soul, pop
27.4
44
17-Nov-92

In [47]:
A = read ['Released'] > 1979
B = read ['Music Recording Sales (millions)'] > 24
new = read.where(A&B)
new

            Artist          Album  Released  ... Released.1 Soundtrack  Rating
0  Michael Jackson       Thriller    1982.0  ...  30-Nov-82        NaN    10.0
1            AC/DC  Back in Black    1980.0  ...  25-Jul-80        NaN     9.5
2              NaN            NaN       NaN  ...        NaN        NaN     NaN
3  Whitney Houston  The Bodyguard    1992.0  ...  17-Nov-92          Y     8.5
4              NaN            NaN       NaN  ...        NaN        NaN     NaN
5              NaN            NaN       NaN  ...        NaN        NaN     NaN
6              NaN            NaN       NaN  ...        NaN        NaN     NaN
7              NaN            NaN       NaN  ...        NaN        NaN     NaN

[8 rows x 10 columns]

In [119]:
# Assignment1-4
for i in range(8):
  C = str(new['Genre'][i])
  print('')
  if(C.count('rock') != 0):
    for j in range(8):
      print(new.iloc [i][j])

Michael Jackson
Thriller
1982.0
0:42:19
pop, rock, R&B
46.0
65.0
30-Nov-82

AC/DC
Back in Black
1980.0
0:42:11
hard rock
26.1
50.0
25-Jul-80